In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# file path
mmr_us_file = "../output_file/2009_2019_CDC_MMR.csv"

In [4]:
# read csv file

mmr_df = pd.read_csv(mmr_us_file)

In [5]:
mmr_df.head()

,record_id,state,id,state_code,year,deaths,births,maternal_mortality_ratio,population
0,0,Alabama,US.AL,1,2015,12,59657,20.11,2505795
1,1,Alabama,US.AL,1,2016,35,59151,59.17,2507714
2,2,Alabama,US.AL,1,2017,41,58941,69.56,2514911
3,3,Alabama,US.AL,1,2018,31,57761,53.67,2523756
4,4,Alabama,US.AL,1,2019,35,58615,59.71,2533668

In [9]:
# list unique states
state_names = mmr_df["state"].value_counts()

In [10]:
# count unique states
state_names.count()

38

In [13]:
# group by year 
# year_group_df = mmr_df.groupby(["state"])

# year_group_df.count().head(10)

,record_id,id,state_code,year,deaths,births,maternal_mortality_ratio,population
state,,,,,,,,
Alabama,5,5,5,5,5,5,5,5
Arizona,10,10,10,10,10,10,10,10
Arkansas,11,11,11,11,11,11,11,11
California,11,11,11,11,11,11,11,11
Colorado,6,6,6,6,6,6,6,6
Connecticut,2,2,2,2,2,2,2,2
Florida,11,11,11,11,11,11,11,11
Georgia,11,11,11,11,11,11,11,11
Idaho,1,1,1,1,1,1,1,1
Illinois,11,11,11,11,11,11,11,11

In [ ]:
year_filter_df = mmr_df.filter()